* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(44, 21, 44);
}

.container {
    margin: auto;
    max-width: 1100px;
}

.pop {
    margin-left: 40%;
    margin-top: 25%;
    width: 200px;
    height: 50px;
    font-size: 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.POPUP {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: white;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
}

.poppo {
    top: 50%;
    left: 50%;
    visibility: visible;
    transform: translate(-50%, -50%)scale(1);
}

.POPUP img {
    width: 100px;
    position: relative;
    left: 35%;
    bottom: 40px
}

.POPUP h1 {
    margin-left: 30%;
}

.POPUP p {
    margin-left: 10%;
    font-size: 20px;
    line-height: 50px;
}

span {
    margin-left: 40%;
    font-size: 20px;

}

.button {
    margin-left: 10%;
    margin-top: 60px;
}

.button button {
    width: 300px;
    height: 50px;
    background-color: rgb(161, 49, 49);
    font-size: 25px;
    border: none;
    cursor: pointer;
}